$icomoon-font-family: "dm-icons" !default;
$icomoon-font-path: "fonts" !default;

$alert: "\e962";
$alert-filled: "\31";
$arrow-up: "\e963";
$atom: "\e964";
$auto-nesting: "\e965";
$autoorient: "\e992";
$avatar: "\e902";
$bang-filled: "\e903";
$bang-outline: "\e904";
$bell: "\e966";
$bullets: "\e967";
$bundle: "\e968";
$calculator: "\e969";
$calendar: "\e96a";
$camera: "\e96b";
$cardview: "\e96c";
$check: "\e96d";
$clipboard: "\e96e";
$clock: "\e96f";
$close-x: "\e970";
$cloud: "\e971";
$collapse: "\e972";
$comments: "\e973";
$company: "\e974";
$computer: "\e975";
$cube: "\e976";
$curvedarrow-left: "\e977";
$curvedarrow-right: "\e978";
$custom-orient: "\e97a";
$custom-orient-settings: "\e979";
$data: "\e97b";
$dead: "\e97c";
$devices: "\e97d";
$diagnostics: "\e97e";
$download-cloud: "\e980";
$download-local: "\e97f";
$droplet: "\e981";
$duplicate: "\e982";
$edit: "\e983";
$education: "\e984";
$ethernet: "\e985";
$exit: "\e986";
$expand: "\e987";
$external: "\e9bb";
$extruder: "\e988";
$eye: "\e989";
$face-orient: "\e993";
$file-upload: "\e98a";
$finger-press: "\e98b";
$folder: "\e98c";
$gear: "\e98d";
$globe: "\e98e";
$hamburger: "\e98f";
$history: "\e990";
$home: "\e991";
$image: "\e994";
$info: "\e995";
$info-filled: "\e905";
$info-outline: "\e906";
$keyboard: "\e996";
$knowledge: "\e997";
$layers: "\e998";
$lightening: "\e999";
$link: "\e99a";
$liveSinter: "\e99b";
$logs: "\e99c";
$manual-orientation1: "\e99d";
$minus: "\e99e";
$more: "\e99f";
$move: "\e9a0";
$notes: "\e9a1";
$paintbrush: "\e9a2";
$paperclip: "\e9a3";
$plus: "\e9a4";
$point-down: "\e9a5";
$point-left: "\e9a8";
$point-right: "\e9a7";
$point-up: "\e9a6";
$pointer-right: "\e901";
$power: "\e9a9";
$preview: "\e9aa";
$qrcode: "\e9ab";
$remote-assist: "\e9ac";
$reorder: "\e9ad";
$reprint: "\e9ae";
$reset: "\e9af";
$save: "\e9b0";
$scale: "\e9b1";
$scale1: "\e900";
$search: "\e9b2";
$share: "\e9b3";
$star: "\e9b5";
$star-filled: "\e9b4";
$support: "\e9b6";
$tape: "\e9b7";
$tasklist: "\e9b8";
$trash: "\e9b9";
$update: "\e9ba";
$user: "\e9bc";
$usergroup: "\e9bd";
$video: "\e9be";
$wifi: "\e9bf";
$wrench: "\e9c0";
$zoom-in: "\e9c1";
$zoom-out: "\e9c2";

