:root {
	--navbar-height: 5.7rem;
}

div.sticky {
	position: -webkit-sticky;
	position: sticky;
	top: 0px;
	left: 0px;
	height: 100vh;
	background-color:none;
}

#nav-mobile {
  width:50%;
  max-width: 240px;
  a {
    font-size: 1.5rem;
    height: 5rem;
  }
  .divider {
    width: 80%;
    margin: 2.0rem auto;
  }
  li.nav-button {
	font-size: 1rem; 
    line-height: 5rem;
    a:hover {
      color: var(--brand-red)
    }
    .external-link-icon{
      display: inline;
      background-image: url('/svgs/exit-white.svg');
      background-position: 50% 100%;
      background-size: contain;
      background-repeat: no-repeat;
      padding-left: 30px;
    }
  }
}

#nav-mobile {
  z-index: 1400;
}

.btn-navtoggle {
  width: 44px;
  height: 44px;
  background-color: var(--gray-light);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: var(--dm-black);
  text-align: center;
  padding: 1rem !important;
  box-shadow: var(--shadow-small);
  transition-duration: var(--shadow-transition);
  cursor:pointer;
  letter-spacing: -0.5px;
  border-radius: 0px !important;
  border: var(--border);
  position: sticky;

  &:hover {
      background-color: white;
  }
  &:active {
      box-shadow: var(--shadow-inset);
      background-color: var(--gray-light);
      transform: scale(98%);
  }
}

.is-active {
	background-color: #EB483F;
}


