.m-auto {
    margin:auto;
  }
  .m-0 {
    margin:0 !important;
  }
  .m-5 {
    margin:0.5rem !important;
  }
  .m-10 {
    margin:1rem !important;
  }
  .m-20 {
    margin:2rem !important;
  }
  .m-t-0 {
    margin-top:0rem !important;
  }
  .m-t-2 {
    margin-top:0.2rem !important;
  }
  .m-t-4 {
    margin-top:0.4rem !important;
  }
  .m-t-5 {
    margin-top:0.5rem !important;
  }
  .m-t-10 {
    margin-top:1rem!important;
  }
  .m-t-12 {
    margin-top:1.2rem !important;
  }
  .m-t-15 {
    margin-top:1.5rem !important;
  }
  .m-t-20 {
    margin-top:2rem !important;
  }
  .m-t-25 {
    margin-top:2.5rem !important;
  }
  .m-t-30 {
    margin-top:3rem !important;
  }
  .m-t-35 {
    margin-top:3.5rem !important;
  }
  .m-t-40 {
    margin-top:4rem !important;
  }
  .m-t-50 {
    margin-top:5rem !important;
  }
  .m-t-60 {
    margin-top:6rem !important;
  }
  .m-t-100 {
    margin-top:10rem !important;
  }
  .m-b-0 {
    margin-bottom:0rem !important;
  }
  .m-b-1 {
    margin-bottom:0.1rem !important;
  }
  .m-b-5 {
    margin-bottom:0.5rem !important;
  }
  .m-b-6 {
    margin-bottom:0.6rem !important;
  }
  .m-b-10 {
    margin-bottom:1rem !important;
  }
  .m-b-12 {
    margin-bottom:1.2rem !important;
  }
  .m-b-15 {
    margin-bottom:1.5rem !important;
  }
  .m-b-20 {
    margin-bottom:2rem !important;
  }
  .m-b-30 {
    margin-bottom:3rem !important;
  }
  .m-b-40 {
    margin-bottom:4rem !important;
  }
  .m-b-60 {
    margin-bottom:6rem !important;
  }
  .m-b-80 {
    margin-bottom:8rem !important;
  }
  .m-b-100 {
    margin-bottom:10rem !important;
  }
  .m-b-140 {
    margin-bottom:14rem !important;
  }
  .m-b-245 {
    margin-bottom:24.5rem !important;
  }
  .m-b-m30 {
    margin-bottom:-3rem !important;
  }
  .m-b-m50 {
    margin-bottom:-5rem !important;
  }
  .m-l-0 {
    margin-left:0rem !important;
  }
  .m-l-5 {
    margin-left:0.5rem !important;
  }
  .m-l-10 {
    margin-left:1rem !important;
  }
  .m-l-20 {
    margin-left:2rem !important;
  }
  .m-l-30 {
    margin-left:3rem !important;
  }
  .m-l-40 {
    margin-left:4rem !important;
  }
  .m-l-50 {
    margin-left:5rem !important;
  }
  .m-l-60 {
    margin-left:6rem !important;
  }
  .m-l-80 {
    margin-left:8rem !important;
  }
  .m-l-m5 {
    margin-left:-.5rem !important;
  }
  .m-r-0 {
    margin-right:0rem !important;
  }
  .m-r-1 {
    margin-right:0.1rem !important;
  }
  .m-r-5 {
    margin-right:0.5rem !important;
  }
  .m-r-10 {
    margin-right:1rem !important;
  }
  .m-r-20 {
    margin-right:2rem !important;
  }
  .m-r-30 {
    margin-right:3rem !important;
  }
  .m-r-40 {
    margin-right:4rem !important;
  }
  .m-r-60 {
    margin-right:6rem !important;
  }
  .m-t-per-5 {
    margin-top: 5% !important;
  }
  .m-t-per-25 {
    margin-top: 25% !important;
  }
  .m-l-per-4 {
    margin-left: 4% !important;;
  }
  .m-l-per-45 {
    margin-left: 45% !important;;
  }
  .m-l-neg-per-45 {
    margin-left: -45% !important;;
  }
  .p-0 {
    padding:0rem !important;
  }
  .p-5 {
    padding:0.5rem !important;
  }
  .p-10 {
    padding:1rem !important;
  }
  .p-12 {
    padding:1.2rem !important;
  }
  .p-15 {
    padding:1.5rem !important;
  }
  .p-20 {
    padding:2rem !important;
  }
  .p-30 {
    padding:3rem !important;
  }
  .p-40 {
    padding:4rem !important;
  }
  .p-t-0 {
    padding-top:0rem !important;
  }
  .p-t-4 {
    padding-top:0.4rem !important;
  }
  .p-t-8 {
    padding-top:0.8rem !important;
  }
  .p-t-10 {
    padding-top:1rem !important;
  }
  .p-t-12 {
    padding-top:1.2rem !important;
  }
  .p-t-15 {
    padding-top:1.5rem !important;
  }
  .p-t-20 {
    padding-top:2rem !important;
  }
  .p-t-30 {
    padding-top:3rem !important;
  }
  .p-t-40 {
    padding-top:4rem !important;
  }
  .p-t-60 {
    padding-top:6rem !important;
  }
  .p-b-0 {
    padding-bottom:0rem !important;
  }
  .p-b-5 {
    padding-bottom:0.5rem !important;
  }
  .p-b-10 {
    padding-bottom:1rem !important;
  }
  .p-b-12 {
    padding-bottom:1.2rem !important;
  }
  .p-b-20 {
    padding-bottom:2rem !important;
  }
  .p-b-30 {
    padding-bottom:3rem !important;
  }
  .p-l-0 {
    padding-left:0rem !important;
  }
  .p-l-3 {
    padding-left:0.3rem !important;
  }
  .p-l-5 {
    padding-left:0.5rem !important;
  }
  .p-l-10 {
    padding-left:1rem !important;
  }
  .p-l-12 {
    padding-left:1.2rem !important;
  }
  .p-l-15 {
    padding-left:1.5rem !important;
  }
  .p-l-20 {
    padding-left:2rem !important;
  }
  .p-l-25 {
    padding-left:2.5rem !important;
  }
  .p-l-26 {
    padding-left:2.6rem !important;
  }
  .p-l-30 {
    padding-left:3rem !important;
  }
  .p-l-40 {
    padding-left:4rem !important;
  }
  .p-l-60 {
    padding-left:6rem !important;
  }
  .p-r-0 {
    padding-right:0rem !important;
  }
  .p-r-2 {
    padding-right:0.2rem !important;
  }
  .p-r-5 {
    padding-right:0.5rem !important;
  }
  .p-r-10 {
    padding-right:1rem !important;
  }
  .p-r-15 {
    padding-right:1.5rem !important;
  }
  .p-r-20 {
    padding-right:2rem !important;
  }
  .p-r-25 {
    padding-right:2.5rem !important;
  }
  .p-r-30 {
    padding-right:3rem !important;
  }
  .p-l-per-1{
    padding-left: 1% !important;
  }
  .p-r-per-1{
    padding-right: 1% !important;
  }
  .p-per-3{
    padding: 3% !important;
  }
  .t-0 {
    top:0rem;
  }
  .t-5 {
    top:0.5rem;
  }
  .t-10 {
    top:1rem;
  }
  .t-15 {
    top:1.5rem;
  }
  .b-0 {
    bottom:0rem;
  }
  .b-5 {
    bottom:0.5rem;
  }
  .b-10 {
    bottom:1rem;
  }
  .b-15 {
    bottom:1.5rem;
  }
  .l-0 {
    left:0rem;
  }
  .l-5 {
    left:0.5rem;
  }
  .l-10 {
    left:1rem;
  }
  .l-15 {
    left:1.5rem;
  }
  .r-0 {
    right:0rem;
  }
  .r-5 {
    right:0.5rem;
  }
  .r-10 {
    right:1rem;
  }
  .r-15 {
    right:1.5rem;
  }
  .bd-0 {
    -moz-border-radius: 0 !important;
    -webkit-border-radius: 0 !important;
    border-radius: 0 !important;
  }
  .bd-3 {
    -moz-border-radius: 0.3rem !important;
    -webkit-border-radius: 0.3rem !important;
    border-radius: 0.3rem !important;
  }
  .bd-6 {
    -moz-border-radius: 0.6rem !important;
    -webkit-border-radius: 0.6rem !important;
    border-radius: 0.6rem !important;
  }
  .bd-9 {
    -moz-border-radius: 0.9rem !important;
    -webkit-border-radius: 0.9rem !important;
    border-radius: 0.9rem !important;
  }
  .bd-full {
    -moz-border-radius: 50% !important;
    -webkit-border-radius: 50% !important;
    border-radius: 50% !important;
  }
  .bd-50p {
    -moz-border-radius: 50% !important;
    -webkit-border-radius: 50% !important;
    border-radius: 50% !important;
  }
  .opacity-0 {
    opacity:0;
    p {
      opacity:0;
    }
  }
  .opacity-20 {
    opacity:.2;
    p {
      opacity:.2;
    }
  }
  .opacity-50 {
    opacity:.5;
    p {
      opacity:.5;
    }
  }
  .opacity-70 {
    opacity:.7;
    p {
      opacity:.7;
    }
  }
  .opacity-90 {
    opacity:.9;
    p {
      opacity:.9;
    }
  }
  .width-0 {
    width:0 !important;
  }
  .width-40 {
    width:4rem !important;
  }
  .width-300 {
    width:30rem !important;
  }
  .min-width-40 {
    min-width: 4rem;
  }
  .width-16p {
    width:16.6666% !important;
  }
  .width-20p {
    width:20% !important;
  }
  .width-40p {
    width:40% !important;
  }
  .width-100p {
    width:100% !important;
  }
  .h-0 {
    height: 0 !important;
    overflow: hidden !important;
  }
  .h-20 {
    height: 2rem !important;
    overflow: hidden !important;
  }
  .h-30 {
    height: 3rem !important;
    overflow: hidden !important;
  }
  .h-40 {
    height: 4rem !important;
    overflow: hidden !important;
  }
  .h-50 {
    height: 5rem !important;
    overflow: hidden !important;
  }
  .h-70 {
    height: 7rem !important;
    overflow: hidden !important;
  }
  .h-90 {
    height: 9rem !important;
    overflow: hidden !important;
  }
  .h-100 {
    height: 10rem !important;
    overflow: hidden !important;
  }
  .h-150 {
    height: 15rem !important;
    overflow: hidden !important;
  }
  .h-220 {
    height: 22rem !important;
    overflow: hidden !important;
  }
  .h-250 {
    height: 25rem !important;
    overflow: hidden !important;
  }
  .h-280 {
    height: 28rem !important;
    overflow: hidden !important;
  }
  .h-300 {
    height: 30rem !important;
    overflow: hidden !important;
  }
  .pos-rel {
    position:relative;
  }
  .pos-abs {
    position:absolute;
  }
  .dis-inline {
    display:inline !important;
  }
  .dis-inline-b {
    display:inline-block;
  }
  .dis-block {
    display:block !important;
  }
  .dis-none {
    display:none;
  }
  .dis-flex {
    display: flex;
  }
  
  .flexCenterHV {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .flexRightHCenterV {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  
  